body{
    font-family:Arial;
    margin:0;
    background:#f4f4f4;
}

header{
    background:#007bff;
    color:white;
    text-align:center;
    padding:20px;
}

.container{
    width:70%;
    margin:30px auto;
}

.post{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

.comments{
    background:white;
    padding:20px;
    border-radius:10px;
}

input{
    width:70%;
    padding:10px;
}

button{
    padding:10px;
    background:#007bff;
    color:white;
    border:none;
    cursor:pointer;
}

li{
    margin-top:10px;
    background:#eee;
    padding:10px;
    list-style:none;
}